@font-face {
    font-family: 'SF-Pro-Display';
    src: url(SFPro/OpenType/SF-Pro-Display-Regular.otf);
}

*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
    font-family: 'SF-Pro-Display';
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    position:relative; 
    overflow:hidden;
}

#page{
    position:relative;
    height:100vh;
    width:100vw;
    background-color: #000;
}


#page>nav{
    display: flex;
    align-items: centre;
    justify-content: space-between;
    padding: 0px 20px;
    height:7vh;
    width:50vw;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}

#page>nav>h3{
    position:relative;
    top:12px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

#page>nav>button{
    padding: 7px 20px;
    border-radius: 50px;
    border: none;
    background-color: #fff;
}

#page>video{
    height: 100%;
    width: 50%;
    position: absolute;
    object-fit: cover;
    left: 50%;
    transform: translateX(-50%);
}

#page-bottom{
    height: 20%;
    width: 25%;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#page-bottom>h3{
    color: #dadada93;
    margin-bottom: 1vw;
}

#page1{
    position:relative;
    height:100vh;
    width:100vw;
    background-color: #fff;
}